:root {
    --hero-color: #121212;
    --main-color: #D8D8D8;
    --color-text: #F7F7F7;
    --rgba: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.73%, #121212 98.51%),
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
  }

.container {
max-width: 375px;
}

.hero {
    background: var(--hero-color);
    padding: 20px;
    background-image: var(--rgba), url(../goit-team-project-group-11/src/img/img-main/main-tablet-hero-bg-1x.jpg);
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
}

.hero-title {
    color: var(--color-text);
}